@use "./vars";

@mixin form-container {
    width: 60vw;
    min-width: 400px;
    max-width: 800px;
    min-height: 500px;
    margin: vars.$gutter auto;
}

@mixin list-container {
    width: 20%;
    min-width: 300px;
    max-width: 500px;
}
